# Server Environment Variables
DATABASE_URL="postgresql://user:password@your-vps-ip:5432/idari_myf?schema=public"
JWT_SECRET="change-this-to-a-strong-random-secret-key-at-least-32-chars"
JWT_EXPIRES_IN="7d"
PORT=4000
CORS_ORIGIN="*"
